*{
	padding: 0;
	margin: 0;
	font-family: "微软雅黑";
	box-sizing: border-box;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	color:#333;
}
tr,td,table {padding:0;margin:0;}
.opacity:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
    filter: alpha(opacity=85);
    opacity: 0.85;
}
.static_width {
	width:1288px;
	margin:0 auto;
}
.pull_left {
	float: left;
}
.pull_right {
	float: right;
}
.clearfix:after {
	content:"";
	display: block;
	overflow: hidden;
	clear: both;
	visibility: hidden;
}
.none {
	display: none;
}
/*头部*/
.head {
	position: fixed;
	top:0;
	width:100%;
	height:88px;
	line-height: 88px;
	background: #fff;
	z-index: 999;
}
.headContent {
	height:88px;
	line-height: 88px;
}

.topmenu li.nav_item{
	float: left;
	list-style: none;
	/*padding: 0 25px;*/
	cursor: pointer;
	position: relative;
	width:128px;
	text-align: center;
	position: relative;
}
.topmenu li.nav_item a {
	display: block;
	color:#3c0000;
	font-size: 16px;
}
.topmenu li.nav_active {
	background: #71c932;
	color:#fff;
}
.topmenu li.nav_active a {
	color:#fff;
}
.topmenu li.nav_item:hover {
	background: #71c932;
	color:#fff;
}
.topmenu li.nav_item:hover a {
	color:#fff;
}
.down_item:after {
	content:"";
	width: 0;
    height: 0;
    border-width: 8px 6px;
    border-style: solid;
    border-color:#3c0000 transparent transparent transparent;
    position: absolute;
    display: block;
    top:40px;
    right:18px;
}
.topmenu li.nav_active .down_item:after {
	border-color:#fff transparent transparent transparent;
}
.topmenu li.nav_item:hover .down_item:after {
	border-color:#fff transparent transparent transparent;
}
.dropdown_box {
	position: absolute;
	top:58px;
	left:0;
	width:100%;
	display: none;
}
.about_lists li{
	text-align: center;
	line-height: 30px;
	height: 30px;
	color:#fff;
	background: #71c932;
	font-size: 16px;
	color:#f4f5f2;
}
.wrapper_bg {
	width:100%;
	background: url(../images/common/cont_bg.jpg) no-repeat center;
	background-size: 100%;
}
.main_content {
	position: relative;
	top:88px;
	bottom:0;
	width:100%;
	overflow: auto;
}


/*底部*/
.footer_section {
	width:100%;
	height: 840px;
	background: url(../images/home/footer_bg.png) no-repeat center center;
	background-size: 100%;
	position: relative;
	margin-top:60px;
}
.footer_nav {
	padding-top:360px;
}

.footerNav_list {
	height: 200px;
	background: #fff;
}

.footerNav_item {
	float: left;
	width:20%;
	padding:10px;
	height: 100%;
}
.footerNav_item a {
	display: block;
	width:100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 100%;
	background-image: url(../images/home/footerNav_bg01.png);
	background-position: center;
	/*padding:0 24px;*/
	text-align: center;
}
.nav_icon {
	display: block;
	width:100%;
	height: 42px;
	background:url(../images/home/footerNav_icon01.png) no-repeat center center;
	background-size: 30px;
	box-sizing: content-box;
	padding:22px 0 20px;
}
.tel_icon {
	background-image: url(../images/home/footerNav_icon02.png);
}
.email_icon {
	background-image: url(../images/home/footerNav_icon03.png);
}
.qq_icon{
	background-image: url(../images/home/footerNav_icon04.png);
}
.wechat_icon {
	background-image: url(../images/home/footerNav_icon05.png);
}
.nav_tit {
	font-size: 15px;
	color:#373534;
	margin-bottom: 10px;
}
.nav_txt {
	font-size: 13px;
	color:#464443;
	line-height: 20px;
	font-weight: normal;
}
.footerNav_active a {
	background: #71c932;
}
.footerNav_active .nav_tit,.footerNav_active .nav_txt{
	color:#fff;
}

.footer_tag {
	width:100%;
	height: 90px;
	background: #71c932;
	position: absolute;
	bottom:0;
}
.footer_list {
	width:990px;
	height: 90px;
	margin:0 auto;
	color:#fff;
}
.footer_item {
	float: left;
	width:33.33%;
	text-align: center;
	padding:21px 0;
}
.footer_item p {
	font-size: 15px;
	line-height: 24px;
}